<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/table.css">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript" scr="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
</head>
<title>Shopping</title>
<body>
<div class="container" style="margin-top:50px;">
    <div class="row">
        <div class="panel panel-primary">
            <div class="shoplist table">
                <h3 class="panel-title" style="text-align: center;">Shoppig List</h3>
            <div id="table_wrapper">
                <?php include_once 'table.phtml' ?>
            </div>
            </div>
        </div>
        <div class="shoplist table">
            <h4 class="panel-title" style="text-align: center;">Add Product</h4>
        </div>
        <div class="shoplist table">
            <table>
                <form name="insert" method="post">
                    <td>Name Product<br><input type="text" size="40" id="nameprod" placeholder="Input Name Product"></td>
                    <td>Price Product<br><input type="text" size="40" id="priceprod" placeholder="Input Price Product"></td>
                    <td><p><input type="button" value="Add Product" onClick="clkAdd('insert')"/></p></td>
                </form>
            </table>
        </div>
    </div>
</div>
</body>
</html>
